name: Build
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  aiosqlite:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9"]
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          make setup
          pip install -U .
      - name: Test
        run: make test
      - name: Lint
        run: make lint
      - name: Coverage
        run: codecov --token ${{ secrets.CODECOV_TOKEN }} --branch ${{ github.ref }}
        continue-on-error: true
